<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">{#  {{ view.config.title }} #}</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="{{ view.id }}" width="100%" cellspacing="0">
                <thead>
                <tr>
                    {% for field in view.config.fields %}
                        <th>{{ field.header |trans }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                    {% for line in view.data.lines %}
                        <tr>
                        {% for column in line.fields %}
                            <td>
                                {{ column.value }}
                            </td>
                        {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
