<form>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-2 font-weight-bold float-start text-primary">
                <i class="icon fa fa-search"></i>&nbsp;
                {{ 'crudit.title.filters'|trans({}, 'LleCruditBundle')}}
            </h6>
            {% for id, filter in view.data.filters %}
                {% set vars = {
                    'data': filter.data,
                    'id': id,
                    'filtertype':filter}
                %}
                {% include filter.stateTemplate with vars %}
            {% endfor %}
            <span class="btn float-end" data-toggle="collapse" data-target="#collapse-filter" aria-expanded="true" aria-controls="collapse-filter">
                <i class="fa fa-chevron-up"></i>
            </span>
        </div>

        <div id="collapse-filter" class="collapse show card-body">
            <div class="row">
                {% for id, filter in view.data.filters %}
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 {% if filter.hidden %}d-none{% endif %}">
                        <div class="form-group">
                            {% set vars = {
                                'data': filter.data,
                                'id': 'filter_'~ id,
                                'filtertype': filter}
                            %}
                            {% include filter.template with vars %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="card-footer">
            <button class="btn btn-sm btn-primary" name="filter" value="filter" type="submit">
                <i class="fa fa-filter"></i>&nbsp;
                {{ 'crudit.filter.filter'|trans({}, 'LleCruditBundle') }}
            </button>
            <button class="btn btn-sm btn-default" name="{{ view.data.filterset.id}}_reset" value="reset" type="submit">
                <i class="fa fa-window-close"></i>&nbsp;
                {{ 'crudit.filter.reset'|trans({}, 'LleCruditBundle') }}
            </button>
        </div>
    </div>
</form>