<!DOCTYPE html>
<html>
<head>
    {% block head_metas %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="robots" content="noindex, nofollow, noarchive, nosnippet, noodp, noimageindex, notranslate, nocache" />
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <meta name="generator" content="CrudIt" />
    {% endblock head_metas %}

    <title>{% block page_title %}{% endblock %}</title>

    {% block head_stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/easyadmin/app.css') }}">
    {% endblock %}
</head>
<body>
{#  {{ render(controller('Lle\\CruditBundle\\Controller\\LayoutController::header')) }} #}
    {% include crudit.menuTemplate %}
    {%  block content %}{%  endblock %}
{#  {{ render(controller('Lle\\CruditBundle\\Controller\\LayoutController::footer')) }}
    {{ render(controller('Lle\\CruditBundle\\Controller\\LayoutController::right')) }} #}
</body>
</html>
