<li class="sidebar-heading">
    <span class="show-toggle">{{ element.libelle|trans(domain=view.config.translation_domain) }}</span>
</li>
{% if element.children %}
    {% for child in element.children %}
        {% include crudit.template(child.template) with {'element': child} %}
    {% endfor %}
{% endif %}
