<li class="nav-item dropdown no-arrow">
    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="me-2 d-none d-lg-inline text-gray-600 small">
            {% block user %}
                {% if app.user %}
                    {{ app.user }}
                {% endif %}
            {% endblock %}
        </span>
        <img class="img-profile rounded-circle" src="{{ asset('bundles/llecrudit/img/undraw_profile.svg') }}">
    </a>
    <!-- Dropdown - User Information -->
    <div class="dropdown-menu dropdown-menu-end shadow animated--grow-in" aria-labelledby="userDropdown">
        <a class="dropdown-item" href="{{ path("logout") }}">
            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
            {{ 'crudit.action.logout'|trans({}, 'LleCruditBundle') }}
        </a>
    </div>
</li>
