{% block tag %}
    {% set disabled = editRole and not is_granted(editRole) %}

    <label class="crudit-tag d-inline-block me-1">
        <span class="badge bg-{% if tag in currentTags %}primary {% else %}secondary {% endif %}">
            <input
                type="checkbox"
                class="crudit-tag-input"
                {% if tag in currentTags %}checked{% endif %}
                {% if disabled %}disabled{% endif %}
                data-edit-route="{{ path(editRoute, {id: app.request.get('id'), tag: tag.id}) }}"
            ></input> {{ tag }}
        </span>
    </label>
{% endblock %}
