{% set item = view.data.resource.resource %}
{% set centrefield_lat = view.options['lat_field'] %}
{% set centrefield_lng = view.options['lng_field'] %}
{% set zoom = view.options['zoom'] |default(14) %}
{% set lat = item[centrefield_lat] | default(47.74) %}
{% set lng = item[centrefield_lng] | default(7.34) %}
<div id="map-{{ view.id }}" class="crudit-map"
     data-lat="{{ lat }}"
     data-lng="{{ lng }}"
     data-zoom="{{ zoom }}"
>
</div>
