{% do action.setResource(line.resource) %}

{% set params = { 'id': line.resource.id } %}

{% if action.modal %}
    {% include action.modal with {action: action, id: 'modal_' ~ action.id ~ line.resource.id } %}
{% endif %}

{% set disabled = action.disabled or not
    ((action.path.role is null or is_granted(action.path.role, line.resource))
    and (action.role is null or is_granted(action.role, line.resource)))
%}

{% if not (disabled and crudit_hide_if_disabled(action)) %}
    {% block actions_item %}
        <span class="btn-wrapper" title="{{ action.title|trans(domain=view.config.translation_domain) }}">
            {% if action.template %}
                {% include action.template %}
            {% else %}
                {% include '@LleCrudit/brick/list_items/actions/_action.html.twig' %}
            {% endif %}
        </span>
    {% endblock %}
{% endif %}
