<div class="nav-tabs-custom">
    <ul class="nav nav-tabs" role="tablist">
        {% set active = false %}
        {% for tab in view.config.tabs %}
            {% if tab.role == null or is_granted(tab.role) %}
                <li class="nav-item " role="presentation">
                    <a
                        class="nav-link
                            {% if (
                            (not active and not tab.role)
                            or (
                            not active
                            and (tab.role and is_granted(tab.role))
                            and not app.request.query.has('tab')
                            or app.request.query.get('tab') == tab.id
                            )
                            ) %}
                            {% set active = true %}
                            active
                            {% endif %} position-relative"
                        data-bs-toggle="tab"
                        href="#{{ tab.id }}"
                        role="tab" type="button">{{ tab.label|trans(domain=view.config.translation_domain) }}
                      <span id="{{ tab.id }}-badge" class="position-absolute top-0 start-200 translate-middle badge rounded-pill bg-primary"></span>
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>

    <div class="tab-content">
        {% set active = false %}
        {% for tab in view.config.tabs %}
            {% if tab.role == null or is_granted(tab.role) %}
                <div
                    id="{{ tab.id }}"
                    role="tabpanel"
                    class="tab-pane fade
                        {% if (
                        (not active and not tab.role)
                        or (
                        not active
                        and (tab.role and is_granted(tab.role))
                        and not app.request.query.has('tab')
                        or app.request.query.get('tab') == tab.id
                        )
                        ) %}
                        {% set active = true %}
                            show active
                        {% endif %}">
                    {% for view in tab.views %}
                        {% include view.indexTemplate with { 'view': view, 'tab': tab } only %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
