<div class="nav-tabs-custom">
    <ul class="nav nav-tabs" role="tablist">
        {% set active = false %}
        {% for tab in view.config.tabs %}
            {% if tab.role == null or is_granted(tab.role) %}
                <li class="nav-item " role="presentation">
                    <a
                        class="nav-link
                            {% if (
                            (not active and not tab.role)
                            or (
                            not active
                            and (tab.role and is_granted(tab.role))
                            and not app.request.query.has('tab')
                            or app.request.query.get('tab') == tab.id
                            )
                            ) %}
                            {% set active = true %}
                            active
                            {% endif %} position-relative"
                        data-bs-toggle="tab"
                        href="#{{ tab.id }}"
                        role="tab" type="button">
                        <span id="{{ tab.id }}-badge" class="badge rounded-pill bg-primary"></span>
                        {{ tab.label|trans(domain=view.config.translation_domain) }}

                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>

    <div class="tab-content">
        {% set active = false %}
        {% for tab in view.config.tabs %}
            {% if tab.role == null or is_granted(tab.role) %}
                <div
                    id="{{ tab.id }}"
                    role="tabpanel"
                    class="tab-pane fade
                        {% if (
                        (not active and not tab.role)
                        or (
                        not active
                        and (tab.role and is_granted(tab.role))
                        and not app.request.query.has('tab')
                        or app.request.query.get('tab') == tab.id
                        )
                        ) %}
                        {% set active = true %}
                            show active
                        {% endif %}">
                    {% for view in tab.views %}
                        {% set resource = null %}
                        {% if view.data.resource.resource is defined and view.data.resource.resource %}
                            {% set resource = view.data.resource.resource %}
                        {% elseif view.data.entity is defined and view.data.entity %}
                            {% set resource = view.data.entity %}
                        {% elseif view.data.resource is defined and view.data.resource %}
                            {% set resource = view.data.resource %}
                        {% endif %}

                        {% if view.isDisplayed(resource) %}
                            {% include view.indexTemplate with { 'view': view, 'tab': tab } only %}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
