<div class="nav-tabs-custom">
    <ul class="nav nav-tabs" role="tablist">
        {% for tab in view.config.tabs %}
            {% if tab.role == null or is_granted(tab.role) %}
                <li class="nav-item " role="presentation">
                    <a
                            class="nav-link
                            {% if (loop.first and not app.request.query.has('tab') or app.request.query.get('tab') == tab.id) %}
                            active
                            {% endif %}"
                            data-bs-toggle="tab"
                            href="#{{ tab.id }}"
                       role="tab" type="button">{{ tab.label|trans(domain=view.config.translation_domain) }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>

    <div class="tab-content">
        {% for tab in view.config.tabs %}
            {% if tab.role == null or is_granted(tab.role) %}
                <div
                        id="{{ tab.id }}"
                        role="tabpanel"
                        class="tab-pane fade
                        {% if (loop.first and not app.request.query.has('tab') or app.request.query.get('tab') == tab.id) %}
                            show active
                        {% endif %}">
                    {% for view in tab.views %}
                        {% include view.indexTemplate with { 'view': view, 'tab': tab } only %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
