<a href="#" class="brand-link">
    <img src="/bundles/llecrudit/adminlte/images/AdminLTELogo.png"
         alt="AdminLTE Logo"
         class="brand-image img-circle elevation-3"
         style="opacity: .8">
    <span class="brand-text font-weight-light">CrudIt</span>
</a>


