services:
    _defaults:
        autowire: true
        public: false
        autoconfigure: true

    Lle\CruditBundle\Controller\:
        resource: '../../Controller'
        tags: [ 'controller.service_arguments' ]

    Lle\CruditBundle\DataCollector\DataCollector:
        arguments: [ '@doctrine.orm.entity_manager' ]
        tags:
            - { name: 'data_collector', template: "@LleCrudit//profiler/crudit.html.twig", id: "crudit", priority: 200 }

    Lle\CruditBundle\Registry\FieldRegistry:
        arguments :
            - !tagged_iterator crudit.field

    Lle\CruditBundle\Brick\BrickResponseCollector: ~

    Lle\CruditBundle\Filter\FilterState:
        arguments:
            - !tagged_iterator crudit.filterset
            - '@security.helper'
            - '@request_stack'

    Lle\CruditBundle\Resolver\FieldResolver:
        arguments: ['@Lle\CruditBundle\Registry\FieldRegistry',  '@property_accessor', '@property_info']

    Lle\CruditBundle\Resolver\ResourceResolver:
        arguments: ['@Lle\CruditBundle\Resolver\FieldResolver', '@security.helper']

    Lle\CruditBundle\Maker\MakeCrudit:
        arguments: ["@maker.file_manager","@maker.doctrine_helper", "@kernel"]
        tags: [maker.command]

    Lle\CruditBundle\Provider\ConfigProvider:
        arguments:
            - !tagged_iterator crudit.config

    Lle\CruditBundle\Provider\BrickProvider:
        arguments:
            - !tagged_iterator crudit.brick

    Lle\CruditBundle\Builder\BrickBuilder:
        arguments: ['@Lle\CruditBundle\Provider\BrickProvider', '@Lle\CruditBundle\Provider\ConfigProvider']

    Lle\CruditBundle\Registry\MenuRegistry:
        arguments:
            - !tagged_iterator crudit.menu

    Lle\CruditBundle\Twig\CruditExtension:
        arguments:
            - '@Lle\CruditBundle\Registry\MenuRegistry'
            - '@router'
        tags: [twig.extension]

    Lle\CruditBundle\Twig\CruditTelephoneCallFilterExtension:
        tags: [ twig.extension ]

    Lle\CruditBundle\Twig\CruditTelephoneFilterExtension:
        tags: [ twig.extension ]

    Lle\CruditBundle\Twig\SanitizerExtension:
        autowire: true
        tags: [ twig.extension ]

    # OVERRIDE DoctrineGuesser to add labels "field.[fieldname]" on all form type
    # And guess the good type

    Symfony\Bridge\Doctrine\Form\DoctrineOrmTypeGuesser: ~

    # this replaces the old DoctrineOrmTypeGuesser definition with the new one, the
    # old definition is lost
    form.type_guesser.doctrine:
        class: Lle\CruditBundle\Form\DoctrineOrmTypeGuesser

    Lle\CruditBundle\Exporter\Exporter:
        arguments:
            $exporters: !tagged_iterator crudit.exporter

    Lle\CruditBundle\Exporter\:
        exclude: '../../Exporter/{Exporter.php,ExportParams.php}'
        resource: '../../Exporter'
        tags: [ 'crudit.exporter' ]

    Lle\CruditBundle\Exporter\CsvExporter:
        arguments:
            $translator: "@translator"

    Lle\CruditBundle\Exporter\ExcelExporter:
        arguments:
            $translator: "@translator"

    Lle\CruditBundle\Service\SanitizerService: ~
    Lle\CruditBundle\Contracts\SanitizerInterface: '@Lle\CruditBundle\Service\SanitizerService'

    Lle\CruditBundle\Service\EasyAdminConverter\Converter:
        arguments:
            - '@maker.generator'
            - '@Lle\CruditBundle\Maker\MakeCrudit'
            - '@filesystem'

    Lle\CruditBundle\Command\ConvertEasyAdmin:
        tags: [ 'console.command' ]
