.sidebar {
    &__container {
        #sidebarToggle {
            width: 2.5rem;
            height: 2.5rem;
            margin: 1rem;
            background-color: $sidebar-toggle-bg-color;
            outline: none;
            cursor: pointer;

            &::after {
                content: '\f104';
                margin-right: 0.1rem;
                color: $sidebar-toggle-color;
                @include iconsFont;
            }
        }
    }
}

.sidebar {
    &__container.toggled {
        #sidebarToggle::after {
            content: '\f105';
            margin-left: 0.25rem;
            @include iconsFont;
        }
    }
}
