// Bootstrap colors
$white: #FFFFFF !default;
$gray-100: #F8F9FC !default;
$gray-200: #EAECF4 !default;
$gray-300: #DDDFEB !default;
$gray-400: #D1D3E2 !default;
$gray-500: #B7B9CC !default;
$gray-600: #858796 !default;
$gray-700: #6E707E !default;
$gray-800: #5A5C69 !default;
$gray-900: #3A3B45 !default;
$black: #000000 !default;

$primary: #4E73DF !default;
$blue: #4E73DF !default;
$indigo: #6610F2 !default;
$purple: #6F42C1 !default;
$pink: #E83E8C !default;
$red: #E74A3B !default;
$orange: #FD7E14 !default;
$yellow: #F6C23E !default;
$green: #1CC88A !default;
$teal: #20C9A6 !default;
$cyan: #36B9CC !default;

// Custom Colors
$brand-google: #EA4335 !default;
$brand-facebook: #3B5998 !default;
