$form-floating-height: calc(2.5rem + 2px);
$form-floating-padding-y: 0.5rem;
$form-floating-label-transform: scale(0.7) translate(0.15rem, -0.5rem);

$input-file-image-preview-maxheight: 150px;
$input-file-checkbox-margin: 7px;