.crudit-field {
    .crudit-label {
        width: 30%;
    }

    .crudit-value {
        width: 70%;
    }

    img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100px;
    }
}
