.form-switch  .form-check-input {
    background-color: $danger;
    border-color: $danger;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='white' /%3e%3c/svg%3e");
}
.form-switch .form-check-input:checked {
    background-color: $success;
    border-color: $success;
}
