.table-responsive {
    overflow-x: initial;

    th {
        vertical-align: middle;
    }

    img,
    svg {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 50px;
    }
}
