{% extends 'base.html.twig' %}

{% block content %}
    <div class="mt-5 pt-5 text-center">
        <h1 class="text-uppercase">{{ 'crudit.error.generic.title'|trans({}, 'LleCruditBundle') }}</h1>
        <div class="mt-5">
            <p>{{ 'crudit.error.generic.text'|trans({}, 'LleCruditBundle') }}</p>
            <a class="btn btn-primary" href="/">{{ 'crudit.error.generic.link'|trans({}, 'LleCruditBundle') }}</a>
        </div>
    </div>
{% endblock %}