{% extends "@LleCrudit/filter/type/_base_filter.html.twig" %}

{% block input %}
    <div>
        <input type="date" name="{{ id }}_value"
               class="form-control"
               id="value_{{ id }}"
               {% if data.value is defined %}value="{{ data.value }}"{% endif %} />
    </div>
{% endblock %}
