.input-group-prepend {
    .dropdown-toggle, .dropdown-toggle:hover {
        color: #000000;
        border-color: $gray-400;
        border-top-left-radius: $border-radius !important;
        border-bottom-left-radius: $border-radius !important;
    }

    & + .form-floating {
        input {
            border-left: none;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}