$input-group-length: 220px;

// Used into filters
.input-group-prepend {
    .dropdown-toggle, .dropdown-toggle:hover {
        height: 100%;
        color: #000000;
        border-color: $gray-400;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    &:empty + .form-floating {
        width: $input-group-length+57;
    }

    & + .form-floating {
        display: flex;
        min-width: $input-group-length;

        .form-control, .entity-select {
            background-color: transparent;
            border: solid 1px $gray-400;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            z-index: 1002;
        }

        .entity-select {
            z-index: 1003;
        }

        .form-control:not(:last-of-type) {
            border-right: none;
            border-radius: 0;
        }

        .entity-select {
            & .ts-input {
                position: absolute;
                top: 0;
                left: 0;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-end;
                border: none;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;

                .item {
                    align-items: flex-start;
                    max-width: 50%;
                    max-height: 20px;
                    margin-top: 10px;
                    background: $gray-200;
                    font-size: 13px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    &.active {
                        background: $gray-200;
                    }
                }
            }
        }
    }
}

// Used into forms
.entity-select {
    & .ts-input {
        flex-wrap: wrap;
        height: 100%;
        background-color: transparent;
        &.focus, &:focus {
            box-shadow: 0 0 0 0.2rem $input-btn-focus-color;
        }

        input {
            margin-top: 10px !important;
        }

        .item {
            max-width: 50%;
            max-height: 20px;
            margin-top: 10px !important;
            font-size: 13px;
            overflow: hidden;
            text-overflow: ellipsis;
            &.active {
                background: $gray-200;
            }
        }
    }

    & .ts-dropdown {
        margin: 0;
        background-color: #FFFFFF;
    }
}

.form-floating {
    & > input.form-control:focus,
    & > input.form-control:not(:placeholder-shown),
    & > select.form-control:focus,
    & > select.form-control:not(:placeholder-shown),
    & > textarea.form-control:focus,
    & > textarea.form-control:not(:placeholder-shown) {
        padding-top: 0.9rem;
    }

    & input[type="checkbox"].form-control,
    & input[type="radio"].form-control {
        padding: 0;
    }

    & > input[type="number"].form-control {
        appearance: textfield;
    }

    & > textarea.form-control {
        min-height: 64px;
    }

    .form-control.entity-select {
        padding-top: 0;
        & .ts-input {
            height: 42px;
            & > input {
                height: 21px !important;
                margin-bottom: -7px !important;
            }
        }
        & + .form-label {
            z-index: 1;
        }
    }
}

label.required:not(.form-check-label), legend.required {
    &::after {
        content: '*';
        margin-left: 7px;
        color: red;
    }
}

// Used for file inputs
input[type="file"]::file-selector-button,
input[type="file"]::-webkit-file-upload-button{
    position: absolute;
    top: 0.375rem;
    right: -0.75rem;
    height: $form-floating-height;
    border: $input-border-width solid $input-border-color;
    border-top-right-radius: $input-border-radius;
    border-bottom-right-radius: $input-border-radius;
}