@import 'navs/global.scss';
@import 'navs/topbar.scss';
@import 'navs/sidebar.scss';

.list-children {
    list-style-type: none;
    padding-left: 0;
}

.nav-item a.active {
    font-weight: bolder;
}

.show-toggle {
    width: 25px;
    height: 30px;
    text-align: right;
}
