@import "~leaflet";
.crudit-map {
  width: 100%;
  height: 800px;
}

@keyframes fade {
  from {
    filter: hue-rotate(90deg);
  }
  to {
    filter: hue-rotate(270deg);
  }
}

.blinking {
  animation: fade 0.5s infinite alternate;
  z-index: 1000 !important;
}
