{%  include '@LleCrudit/layout/sb_admin/_flash.html.twig' %}

<div class="row">
    {% for view in views %}
        {%  if view.role == null or is_granted(view.role) %}
            <div id="{{ view.id }}" class="{{ view.cssClass }}">
                {% include view.indexTemplate with { 'view': view } only %}
            </div>
        {% endif %}
    {%  endfor %}
</div>
