{%  include crudit.template('_flash') %}

<div class="row">
    {% for view in views %}
        <div id="{{ view.id }}" class="{{ view.cssClass }}">
            {% include view.indexTemplate with { 'view': view } only %}
        </div>
    {%  endfor %}
</div>
