{% extends "@LleCrudit/filter/state/_base_filter.html.twig" %}

{% block value %}
    {% if data['value'] is iterable %}
        {% for val in data['value'] %}
            <span class="badge bg-secondary">{{ val }}</span>
        {% endfor %}
    {% else %}
        <span class="badge bg-secondary">{{ data['value']|trans({}, 'LleCruditBundle') }}</span>
    {% endif %}
{% endblock %}
