{% extends "@LleCrudit/filter/state/_base_filter.html.twig" %}

{% block value %}
    {% if data.items is not defined and data.value is defined and data.value != '' %}
        {% set data = data|merge({
            items: data.value|split(',')|json_encode
        }) %}
    {% endif %}

    {% set items = data['items']|json_decode %}
    {% for val in items %}
        <span class="badge bg-secondary">{{ val }}</span>
    {% endfor %}
{% endblock %}
