{% extends "@LleCrudit/filter/state/_base_filter.html.twig" %}

{% block value %}
    {% if data['value'] %}
        <span class="filter-state">
            <small>{{ filtertype.label | trans }}</small>
            <span class="badge">
                {{ data.value | date("d/m/Y") ~ ' ' ~ data.time }}
            </span>
        </span>
    {% endif %}
{% endblock %}
