{% extends "@LleCrudit/filter/state/_base_filter.html.twig" %}
{% block value %}
    {% for val in data['value']|split(",") %}
        {% set label = val |split("|")|last %}
        <span class="badge bg-secondary">{{ label }}</span>
    {% endfor %}
{% endblock %}
