{% if data and ((data.value is defined and data.value) or (data.to is defined and data.to)) %}
    <button type="button" class="btn disabled btn-sm btn-primary mt-2 mr-2 mt-md-1">
        {{ filtertype.label|trans(domain=view.config.translation_domain) }}

        {% block value %}
            <span class="badge bg-secondary">
                {{ data.value | default('...') ~ ' - ' ~ data.to | default('...') }}
            </span>
        {% endblock %}
    </button>
{% endif %}
