{% extends '@LleCrudit/filter/state/_base_filter.html.twig' %}

{% block value %}
    <span class="badge bg-secondary">
        {{ data.value is defined ? data.value|date('d/m/Y') : '...' }}
        -
        {{ data.to is defined ? data.to|date('d/m/Y') : '...' }}
    </span>
{% endblock %}
