{% extends "@LleCrudit/filter/state/_base_filter.html.twig" %}

{% block value %}
    {% for state in data.value %}
        <span class="badge bg-secondary">{{ ('wf.state.' ~ state) | trans(domain=view.config.translation_domain) }}</span>
    {% endfor %}
{% endblock %}
