{% extends '@LleCrudit/filter/state/_base_filter.html.twig' %}

{% block value %}
    {% set items = data['items']|json_decode %}
    {% for value in items %}
        <span class="badge bg-secondary">
            {{ ('wf.state.' ~ value.id)|trans(domain=view.config.translation_domain) }}
        </span>
    {% endfor %}
{% endblock %}
