<div id="crudit-flash">
    {% for type, flashMessages in app.session.flashBag.all %}
        {% for flashMessage in flashMessages %}
            <div class="alert alert-{{ type }} alert-dismissible" role="alert">
                {{ flashMessage | raw | trans }}
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        {% endfor %}
    {% endfor %}
</div>
