{% block brand %}
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
        <img src="/img/logo.png">
        <div class="sidebar-brand-text mx-3">CRUDIT</div>
    </a>
{% endblock%}
