<nav class="navbar navbar-expand bg-white topbar mb-2 shadow">
    <button class="btn btn-link d-md-none rounded-circle mr-3" data-bs-toggle="collapse" data-bs-target="#collapse-sidebar">
        <i class="fa fa-bars"></i>
    </button>

    {% block header_nav %}{% endblock %}
    {% block header_right %}
        <ul class="navbar-nav ms-auto">
            {% include '@LleCrudit/layout/sb_admin/elements/_v_separator.html.twig' %}
            {% include '@LleCrudit/layout/sb_admin/elements/_user.html.twig' %}
        </ul>
    {% endblock %}
</nav>
