<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    {%  for element in crudit.elements('header-nav') %}
        {% include crudit.template(element.template) with {'element': element, 'where': 'header-nav'} %}
    {%  endfor %}

    <ul class="navbar-nav ml-auto">
        {%  for element in crudit.elements('header-right') %}
            {% include crudit.template(element.template) with {'element': element, 'where': 'header-right'} %}
        {%  endfor %}
    </ul>

</nav>
