<nav class="navbar navbar-expand topbar mb-4 shadow">
    <button id="sidebar-collapser" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    {% block header_nav %}{% endblock %}
    {% block header_right %}
        <ul class="navbar-nav ms-auto">
            {% include '@LleCrudit/layout/sb_admin/elements/_v_separator.html.twig' %}
            {% include '@LleCrudit/layout/sb_admin/elements/_user.html.twig' %}
            {% if crudit_add_exit_impersonation_button() %}
                {% include '@LleCrudit/layout/sb_admin/elements/_exit_impersonation.html.twig' %}
            {% endif %}
        </ul>
    {% endblock %}
</nav>
