<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-2 static-top shadow">
    {% block header_nav %}
    {% endblock %}
    {% block header_right %}
    <ul class="navbar-nav ms-auto">
        {% include '@LleCrudit/layout/sb_admin/elements/_v_separator.html.twig' %}
        {% include '@LleCrudit/layout/sb_admin/elements/_user.html.twig' %}
    </ul>
    {% endblock %}
</nav>
