<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block page_title %}CrudIt{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/llecrudit/sbadmin/app.css') }}">
    {% endblock %}
    {% block head_stylesheets %}{% endblock %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    {% block javascripts %}
        <script src="{{ asset('bundles/llecrudit/sbadmin/app.js') }}"></script>
    {% endblock %}

    {% block head_javascript %}{% endblock %}
</head>

<body id="page-top">
    {% block body %}
        <div id="wrapper">
            <ul id="collapse-sidebar" class="navbar-nav bg-gradient-primary sidebar sidebar-dark collapse">
                {% block brand %}
                    {% include '@LleCrudit/layout/sb_admin/brand.html.twig' %}
                {% endblock %}
                {% include '@LleCrudit/layout/sb_admin/menu.html.twig' %}
            </ul>

            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    {% block header %}
                        {% include '@LleCrudit/layout/sb_admin/header.html.twig' %}
                    {% endblock %}
                    <div class="container-fluid">
                        {% block main %}
                            {% block content %}{% endblock %}
                        {% endblock main %}
                    </div>
                </div>
                {% block footer %}
                    {% include '@LleCrudit/layout/sb_admin/footer.html.twig' %}
                {% endblock %}
            </div>
        </div>
    {% endblock %}

    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    {% block body_javascript %}{% endblock %}
</body>
</html>
