{% for element in crudit.elements('menu-nav') %}
    {% if is_granted(element.role) %}
        {% include crudit.template(element.template) with {'element': element, 'where': 'menu-nav'} %}
    {% endif %}
{% endfor %}

<div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
</div>