<aside class="main-sidebar sidebar-dark-primary elevation-4">
    {%  for element in crudit.elements('menu-main-sidebar') %}
        {% include crudit.template(element.template) with {'element': element, 'where': 'menu-main-sidebar'} %}
    {% endfor %}
    <div class="sidebar">
        {%  for element in crudit.elements('menu-sidebar') %}
            {% include crudit.template(element.template) with {'element': element, 'where': 'menu-sidebar'} %}
        {% endfor %}
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                {%  for element in crudit.elements('menu-nav') %}
                    {% include crudit.template(element.template) with {'element': element, 'where': 'menu-nav'} %}
                {%  endfor %}
            </ul>
        </nav>
    </div>
</aside>
