{% extends '@LleCrudit/modal/_base_modal.html.twig' %}

{% block content %}
    <div class="modal-body">
        {{ 'crudit.modal.delete.message' | trans({}, 'LleCruditBundle') }}
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            {{ 'crudit.modal.cancel' | trans({}, 'LleCruditBundle') }}
        </button>
        <a href="{{ path(action.path.route, params) }}" type="button" class="btn btn-danger">
            {{ 'crudit.modal.delete.delete' | trans({}, 'LleCruditBundle') }}
        </a>
    </div>
{% endblock %}
