name: Test

on:
  push:
    branches: [ main, cicd ]
  pull_request:
    branches: [ main, cicd ]

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install dependencies
        uses: php-actions/composer@v5
        with:
          php_version: '7.4'
          version: 2
          args: --profile --ignore-platform-reqs

      - name: PHPUnit tests
        uses: php-actions/phpunit@v2
        with:
          php_version: '7.4'
          version: 8
          configuration: tests/phpunit/phpunit.xml
          args: --coverage-text