.form-group {
    margin-bottom: 15px;
}

.form-label {
    margin-bottom: 0.3rem;
}

fieldset.form_row {
    legend {
        font-weight: bold;
    }

    > div {
        display: flex;
        margin-left: calc(var(--bs-gutter-x) * -.5);
        margin-right: calc(var(--bs-gutter-x) * -.5);

        .col-6 {
            padding-left: calc(var(--bs-gutter-x) * .5);
            padding-right: calc(var(--bs-gutter-x) * .5);
        }
    }
}

label.required:not(.form-check-label), legend.required {
    &::after {
        position: relative !important;
        content: '*' !important;
        margin-left: 7px;
        color: red;
        inset: initial !important;
    }
}

fieldset.crudit-group {
    legend.crudit-group {
        float: none;
    }

    background-color: white;
}
