$input-height: 42px;

.form-floating {
    & input.form-control:focus,
    & input.form-control:not(:placeholder-shown),
    & input[type="file"].form-control,
    & select.form-control:focus,
    & select.form-control:not(:placeholder-shown),
    & textarea.form-control:focus,
    & textarea.form-control:not(:placeholder-shown) {
        padding-top: 0.9rem;
    }

    & input[type="checkbox"].form-control,
    & input[type="radio"].form-control {
        padding: 0;
    }

    & > input[type="number"].form-control {
        appearance: textfield;
    }

    & > textarea.form-control {
        min-height: 64px;
    }

    & > .form-select:not(.ts-wrapper) {
        padding-top: 1rem;
        padding-bottom: 0;
    }

    .form-control:not(.form-check-input), & {
        height: auto;
        min-height: $form-floating-height;

        &.entity-select, &.tom-select, &.choice-tom-select {
            min-height: $input-height;
            padding: 0;
            background-color: $white;

            & .ts-control {
                height: $input-height;
                border: none;

                & > input {
                    height: 21px !important;
                    margin-bottom: -7px !important;
                }
            }

            & .ts-dropdown {
                & .active {
                    background-color: #e9ecef !important;
                    color: black !important;
                }

                & [data-selectable] .highlight {
                    background-color: rgba(255,237,40,.4);
                }
            }

            & + .form-label {
                z-index: 1;
            }
        }

        div[class^="col-"] {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .form-label {
                width: 10rem;
            }
        }
    }

    & .col-form-label {
        position: absolute;
        top: -25px;
        left: calc(-50% - 10px);
        transform: scale(0.7) translateX(calc(50% + 0.8rem));
    }

    &.multisearch {
        .form-control {
            background-color: transparent !important;
            border: none !important;
        }
    }

    & > .choice-tom-select.form-select {
        height: inherit !important;
        padding: 0 !important;
        border: none !important;
    }
}

.tab-pane {
    .form-floating {
        & .col-form-label {
            position: absolute;
            top: -8px;
            left: -50%;
            transform: scale(0.7) translateX(calc(50% + 0.8rem));
        }
    }
}
